html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111827;
  color: white;
}

.nav-bar {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  /* border-bottom: 1px solid green; */
  flex-shrink: 0;
  /* Prevents the nav bar from shrinking */
  list-style: none;
}

.nav-btn {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  width: 10rem;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid green;
  transition: background-color 0.25s;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-view {
  flex-grow: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers content vertically */
  align-items: center;
  /* Centers content horizontally */
  margin: 0 auto;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: flex;
  width: 50%;
  min-width: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5em 0;
}

.btn {
  padding: 0.5em 1em;
  width: 120px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn.generate {
  background-color: royalblue;
}

.btn.clear {
  background-color: rebeccapurple;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}